[Unit]
Description=CSYE 6225 webapp service
ConditionPathExists=/home/admin/Yash_Bhatia_002791499_03
After=network.target

 

[Service]
Type=simple
User=admin
Group=admin
WorkingDirectory=/home/admin/Yash_Bhatia_002791499_03
ExecStart=/usr/bin/node /home/admin/Yash_Bhatia_002791499_03/app.js
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

 

[Install]
WantedBy=multi-user.target