name: integration-test
on:
  pull_request:
    branches:
      - main
jobs:
  build:
    name: CI
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 14
    - name: Install dependencies
      run: npm install

    - name: Display .env file
      run: |

        echo "MYSQL_USER = root" >> .env

        echo "MYSQL_PASSWORD = root" >> .env

        echo "MYSQL_DATABASE = database_development" >> .env

        echo "PORT=8080" >> .env

        cat .env

       

    - name: configuremysql

      run: |

        sudo apt-get update

        sudo apt-get install -y curl

        sudo systemctl start mysql

        sudo systemctl status mysql

        mysql -u root -p"root" -e "CREATE DATABASE  database_development;"

 

  #  asd

 

    - name: Run Tests
      run : |
        npx sequelize db:migrate
        npm test

    

# checking CI command on PR - 1.2.3